{% extends 'base.jinja2' %}

{% block subtitle %} {{ donor_name }}'s Donations{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
        <li>{{ donation.value }}</li>
    {% endfor %}
</ul>
{% endblock content %}
